<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>問い合わせフォーム</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}" />
</head>

<body>
    <h2>問い合わせフォーム</h2>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="flash">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('contact_complete') }}" method="POST" novalidate="novalidate">
        <table>
            <tr>
                <td>ユーザ名</td>
                <td>
                    <input type="text" name="username" value="{{ username }}" placeholder="ユーザ名" />
                </td>
            </tr>
            <tr>
                <td>メールアドレス</td>
                <td>
                    <input type="text" name="email" value="{{ email }}" placeholder="メールアドレス" />
                </td>
            </tr>
            <tr>
                <td>問い合わせ内容</td>
                <td>
                    <textarea name="description" placeholder="問い合わせ内容">{{ description }}</textarea>
                </td>
            </tr>
        </table>
        <input type="submit" value="問い合わせ" />
    </form>
</body>

</html>