<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <!-- titleを継承先で実装する -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('crud.static', filename='style.css' ) }}" />
</head>

<body>
    <div>
        {% if current_user.is_authenticated %}
        <p>
            <span>{{ current_user.username }}</span> -
            <span><a href="{{ url_for('auth.logout') }}">ログアウト
                </a></span>
        </p>
        {% endif %}
    </div>
    <!-- contentを継承先で実装する -->
    {% block content %}{% endblock %}
</body>

</html>