{% extends "crud/base.html" %}
{% block title %}ユーザーの一覧{% endblock %}
{% block content %}
<h2>ユーザーの一覧</h2>
<a href="{{ url_for('crud.create_user') }}">ユーザー新規作成</a>
<table>
    <tr>
        <th>ユーザーID</th>
        <th>ユーザー名</th>
        <th>メールアドレス</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>
            <a href="{{ url_for('crud.edit_user', user_id=user.id) }}">{{ user.id }}</a>
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}